= form_for :exports, url: all_houses_exports_path, method: :put do |f|
  .row
    .small-12.columns
      %h3 All Houses

  .row.margin-bottom-30
    .small-4.columns
      = f.label :room_type
      = f.select :room_type, @room_types
    .small-2.columns
      %br
      = f.submit "Download Now", class: 'button'
    .small-6.columns
      &nbsp;

= form_for :exports, url: all_rooms_exports_path, method: :put do |f|
  .row
    .small-12.columns
      %h3 All Rooms

  .row
    .small-6.columns
      %br
      = f.submit "Download Now", class: 'button'
    .small-6.columns
      &nbsp;

= form_for :exports, url: all_lights_exports_path, method: :put do |f|
  .row
    .small-12.columns
      %h3 All Lights

  .row
    .small-6.columns
      %br
      = f.submit "Download Now", class: 'button'
    .small-6.columns
      &nbsp;

= form_for :exports, url: cap_summary_by_tech_exports_path, method: :put do |f|
  .row
    .small-12.columns
      %h3 Cap Summary By Technology

  .row
    .small-6.columns
      %br
      = f.submit "Download Now", class: 'button'
    .small-6.columns
      &nbsp;

= form_for :exports, url: cap_summary_by_fitting_exports_path, method: :put do |f|
  .row
    .small-12.columns
      %h3 Cap Summary By Fitting

  .row
    .small-6.columns
      %br
      = f.submit "Download Now", class: 'button'
    .small-6.columns
      &nbsp;
